{% extends 'base.html.twig' %}

{% block title %}Home{% endblock title %}

{% block body %}
    <div class="bg-light text-dark border-10 border-info rounded p-3">
        <div class="text-light text-center py-4">
            <div class="container">
                <div class="row justify-content-center py-2">
                    <form class="form col-10 col-sm-8 col-md-6 col-lg-4 align-self-center" action="/update/{{ record.id }}" method="POST">
                        <div class="form__group form-group">
                            <input name="nick" type="text" placeholder="your nickname" class="form-control mb-1" autocomplete="off" value="{{ record.nick }}">
                            <textarea name="msg" cols="30" rows="2" placeholder="enter a message" class="form-control mt-1">{{ record.msg }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-info form-control">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}