{% extends 'base.html.twig' %}

{% block title %}Про проект{% endblock title %}

{% block body %}
    <div class="bg-light text-dark border-10 border-info rounded p-5">
        <p><b>Doctrine practice</b></p>
        <p><b>Using Doctrine (https://github.com/doctrine/orm) implement item store functionality:</b></p>
        <ul>
            <li>At UI it should be represented as grid with basic CRUD functionality</li>
            <li>Implement server-side paging, sorting, searching by name</li>
        </ul>
    </div>
{% endblock body %}